Checks: >
  -*,
  readability-*, 
  modernize-*, 
  performance-*, 
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  portability-*,
  clang-analyzer-*,
  hicpp-*,
  google-readability-braces-around-statements,
  google-readability-todo,
  google-readability-casting,
  google-readability-function-size,
  google-build-using-namespace,
  google-explicit-constructor
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
