# OUTPUT FILES
*.exe
*.o
*.out

build/

Editor/assets/cache

# 
Editor/*.dll
Editor/*.pdb
#

# CMAKE BUILD FILES
**/CMakeFiles
**/CMakeCache.txt
*.cmake

# Qbit Profiling Output
Sandbox/*.json
Editor/*.json

# LINUX SPECIFIED BUILD FILES
**/Makefile

# VISUAL STUDIO FILES
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.csproj

# VISUAL STUDIO DIRECTORIES
**/.vs/
**/obj/
**/x64/
**/*.dir/
**/Debug/
**/Release/ 

# LOGS
*.log
*.recipe
*.tlog

# VSCODE
/.vscode

# DEVELOPING PURPOSES
SandboxProject.dll
Editor/Resources/**/*.dll

# NOTE: Editor/SandboxProject/Assets/Scripts/Binaries does include Qbit-ScriptCore.dll for temporarily, the plan is to copy that dll while creating a new project.