# OUTPUT FILES
*.exe
*.o
*.out

# CMAKE BUILD FILES
/CMakeFiles
CMakeCache.txt
*.cmake
/build

# LINUX SPECIFIED BUILD FILES
Makefile

# WINDOWS SPECIFIED BUILD FILES
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
/x64
/Physics.dir
/.vs

# ! SUS !
token.txt
github_url.txt

# VSCODE
/.vscode